/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-col-bootstrap-columns {
  clear:both;
}
.wp-block-text, .wp-block-media {
  float:left;
  width:50%;
}
.wp-block-media.true-right {
  float:right;
}
.spacer {
  clear:both;
}
